{% load static %}

<footer class="site-footer footer-1">
    <div class="site-footer__section">
        <div class="site-footer__section-inner inverse-text">
            <div class="section-row">
                <div class="section-column section-column-left text-left">
                    <div class="site-logo">
                        <a href="./index.html">
                            <img src="{% static 'img/logo.png' %}" alt="logo" width="108">
                        </a>
                    </div>
                </div>
                <div class="section-column section-column-center text-center">
                    <nav class="footer-menu text-center">
                        <ul id="menu-footer-menu" class="navigation navigation--footer navigation--inline">
                            <li class="current-menu-item"><a href="index.html">Homepage</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li><a href="search.html">Search Page</a></li>
                            <li><a href="single-1.html">Single Layout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="section-column section-column-right text-right section-socials">
                    <ul class="social-list social-list--md list-horizontal">
                        <li><a href="#" target="_blank"><i class="mdicon mdicon-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="mdicon mdicon-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="mdicon mdicon-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>