{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>{% block title %}shakhzodtojiyev.uz{% endblock  %}</title>
    <meta name="keywords" content="HTML5 News Magazine Template"/>
    <meta name="description" content="Unidark - Ultimate News and Magazine Template">
    <meta name="author" content="designuptodate.com">
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" sizes="32x32"/>
    <link rel="icon" href="img/favicon.png" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" href="img/favicon.png"/>
    <meta name="msapplication-TileImage" content="img/favicon.png"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Theme CSS -->
    <link href="{% static 'css/import-style.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="home home-1 has-block-heading-line">
<!-- .site-wrapper -->
<div class="site-wrapper" >
    <!-- header --> 
    {% include 'layouts/header.html' %}
    <!-- header -->

    {% block home %}{% endblock home %}
    {% block 404 %}{% endblock 404 %}

    <!-- content -->

    <!-- content -->

    <!-- footer -->
    {% include 'layouts/footer.html' %} 
    <!-- footer -->

    <!-- sticky_header -->
    {% include 'layouts/sticky_header.html' %}
    <!-- sticky_header -->
    <!-- Login modal -->
    <div class="modal fade login-modal" id="login-modal" tabindex="-1" role="dialog"
         aria-labelledby="login-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content login-signup-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&#10005;</span></button>
                    <div class="modal-title" id="login-modal-label">
                        <ul class="nav nav-tabs js-login-form-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login-tab" aria-controls="login-tab"
                                                                      role="tab" data-toggle="tab">Log in</a></li>
                            <li role="presentation"><a href="#signup-tab" aria-controls="signup-tab" role="tab"
                                                       data-toggle="tab">Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="login-tab">
                            <div class="login-with-social">
                                <p>Log in with social account</p>
                                <ul class="social-list social-list--circle list-center ">
                                    <li><a href="#" class="facebook-theme-bg text-white"><i
                                            class="mdicon mdicon-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="twitter-theme-bg text-white"><i
                                            class="mdicon mdicon-twitter"></i></a>
                                    </li>
                                    <li><a href="#" class="googleplus-theme-bg text-white"><i
                                            class="mdicon mdicon-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-divider"><span>or</span></div>
                            <form name="loginform" id="loginform" action="#" method="post">
                                <p class="login-username">
                                    <label for="user_login">Username</label>
                                    <input type="text" name="log" id="user_login" class="input" value="" size="20">
                                </p>
                                <p class="login-password">
                                    <label for="user_pass">Password</label>
                                    <input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
                                </p>
                                <p class="login-remember"><label><input name="rememberme" type="checkbox"
                                                                        id="rememberme" value="forever"> Remember
                                    Me</label></p>
                                <p class="login-submit">
                                    <input type="submit" name="wp-submit" id="wp-submit"
                                           class="btn btn-block btn-primary" value="Log In">
                                    <input type="hidden" name="redirect_to" value="#">
                                </p>
                                <p class="login-lost-password">
                                    <a href="#" class="link link--darken">Lost your password?</a>
                                </p>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="signup-tab">
                            <form name="registerform" id="registerform" action="#" method="post">
                                <p class="register-username">
                                    <label for="user_register">Username</label>
                                    <input type="text" name="log" id="user_register" class="input" value="" size="20">
                                </p>
                                <p class="register-password">
                                    <label for="user_register_pass">Password</label>
                                    <input type="password" name="pwd" id="user_register_pass" class="input" value=""
                                           size="20">
                                </p>
                                <p class="register-submit">
                                    <input type="submit" name="wp-submit" id="wp-submit-register"
                                           class="btn btn-block btn-primary" value="Sign Up">
                                    <input type="hidden" name="redirect_to" value="#">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Login modal -->
    <!-- Subscribe modal -->
    <div class="modal fade subscribe-modal" id="subscribe-modal" tabindex="-1" role="dialog"
         aria-labelledby="subscribe-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&#10005;</span></button>
                    <h4 class="modal-title" id="subscribe-modal-label">Subscribe</h4>
                </div>
                <div class="modal-body">
                    <div class="subscribe-form subscribe-form--horizontal text-center max-width-sm">
                        <p class="typescale-1">
                            Join our <b>868,537</b> subscribers and get access to the latest tools, freebies, product
                            announcements and much more!
                        </p>
                        <div class="subscribe-form__fields">
                            <p>
                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                <input type="submit" value="Subscribe" class="btn btn-primary">
                            </p>
                        </div>
                        <small>Don't worry, we don't spam</small>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Subscribe modal -->
    <!-- Off-canvas menu -->
    <div id="atbs-offcanvas-primary" class="atbs-offcanvas js-atbs-offcanvas js-perfect-scrollbar">
        <div class="atbs-offcanvas__title">
            <h2 class="site-logo"><a href="index.html"><img src="img/logo.png" alt="logo"></a></h2>
            <ul class="social-list list-horizontal">
                <li><a href="#"><i class="mdicon mdicon-facebook"></i></a>
                </li>
                <li><a href="#"><i class="mdicon mdicon-twitter"></i></a>
                </li>
                <li><a href="#"><i class="mdicon mdicon-youtube"></i></a>
                </li>
                <li><a href="#"><i class="mdicon mdicon-google-plus"></i></a>
                </li>
            </ul>
            <a href="#atbs-offcanvas-primary" class="atbs-offcanvas-close js-atbs-offcanvas-close"
               aria-label="Close"><span aria-hidden="true">&#10005;</span></a>
        </div>

        <div class="atbs-offcanvas__section atbs-offcanvas__section-navigation">
            <ul id="menu-offcanvas-menu" class="navigation navigation--offcanvas">
                <li class="menu-item-has-children">
                    <a href="#">Home Pages</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="home-2.html">Home 2</a></li>
                        <li><a href="home-3.html">Home 3</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="./single-1.html">Single</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Archive</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Category</a></li>
                        <li><a href="tags.html">Tags</a></li>
                        <li><a href="author.html">Author</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="search.html">Search</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="contact.html">Contact</a>
                </li>

            </ul>
        </div>

        <div class="atbs-offcanvas__section visible-xs visible-sm">
            <div class="text-center">
                <a href="#login-modal" class="btn btn-default btn-form-author" data-toggle="modal" data-target="#login-modal"><i
                        class="mdicon mdicon-person mdicon--first"></i><span>Login / Sign up</span></a>
            </div>
        </div>
    </div><!-- Off-canvas menu -->

    <!-- Go top icon -->
    <a href="#" class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i class="mdicon mdicon-arrow_upward"></i></a>
</div><!-- .site-wrapper -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/owl-carousel.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>