{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="HTML5 News Magazine Template" />
    <meta
      name="description"
      content="Unidark - Ultimate News and Magazine Template"
    />
    <meta name="author" content="designuptodate.com" />
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="192x192" />
    <link
      rel="apple-touch-icon-precomposed"
      href="{% static 'img/favicon.png' %}"
    />
    <meta
      name="msapplication-TileImage"
      content="{% static 'img/favicon.png' %}"
    />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Theme CSS -->
    <link
      href="{% static 'css/import-style.css' %}"
      type="text/css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="home home-1 has-block-heading-line">
    <!-- .site-wrapper -->
    <div class="site-wrapper">
      <!-- header -->
      {% include 'layouts/header.html' %}
      <!-- header -->

      {% block home %}{% endblock home %}
      {% block contact %}{% endblock contact %} 
      {% block handler404 %}{% endblock handler404 %}

      <!-- content -->

      <!-- content -->

      <!-- footer -->
      {% include 'layouts/footer.html' %}
      <!-- footer -->

      <!-- sticky_header -->
      {% include 'layouts/sticky_header.html' %}
      <!-- sticky_header -->

      <!-- login_modal -->
      {% include 'layouts/login_modal.html' %}
      <!-- login_modal -->

      <!-- subscribe_modal -->
      {% include 'layouts/subscribe_modal.html' %}
      <!-- subscribe_modal -->

      <!-- Off-canvas menu -->
      {% include 'layouts/off_canvas_menu.html' %}
      <!-- Off-canvas menu -->

      <!-- Go top icon -->
      <a href="#" class="atbs-go-top btn btn-default hidden-xs js-go-top-el"
        ><i class="mdicon mdicon-arrow_upward"></i
      ></a>
    </div>
    <!-- .site-wrapper -->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/owl-carousel.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
